@use "foundation" as f;


.u-hidden--pc {
  @include f.mq(pc) {
    display: none;  
  }
}

// pc以下でoff
.u-hidden--lg {
  @include f.mq(lg) {
    display: none;  
  }
}

// スマホでoff
.u-hidden--md {
  @include f.mq(md) {
    display: none;    
  }
}

// スマホ以上でoff
.u-hidden--mdup {
  @include f.mq(md-up) {
    display: none;    
  }
}
