@use "foundation" as f;

.p-about-instagram {
  padding: 100px 0 85px;

  @include f.mq(lg) {
    max-width: 880px;
    margin: 0 auto;
  }

  @include f.mq(md) {
    max-width: 600px;
    padding: 50px 47px 40px;
  }

  @include f.mq(sm) {
    max-width: 450px;
  }
}

.p-about-instagram__container {

}

.p-about-instagram__title {
  margin-bottom: 70px;

  @include f.mq(md) {
    margin-bottom: 20px;
  }
}

.p-about-instagram__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-about-instagram__picture {
  width: 250px;
  // height: 100%;
  margin-bottom: 15px;
  aspect-ratio: 1 / 1;

  @include f.mq(lg) {
    width: 200px;
    height: 200px;
  }

  @include f.mq(md) {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
  }

  @include f.mq(sm) {
    width: 90px;
    height: 90px;
  }

}

