@use "foundation" as f;

.p-about-greeting {
  text-align: center;
  padding: 100px 20px 0;
}

.p-about-greeting__title {
  margin-bottom: 70px;
  
}

.p-about-greeting__text {
  line-height: calc(36 / 16);
  letter-spacing: 0.03em;
  text-align: center;
}