@use "foundation" as f;

.p-menu-type {
  padding: 100px 20px 111px;
}

.p-menu-type__container {

}

.p-menu-type__title {
  margin-bottom: 70px;
}

.p-menu-type__wrapper {
  display: flex;
  justify-content: space-between;
}

.p-menu-type__box {
  max-width: 320px;
  width: 100%;
  padding: 15px 15px 48px 15px;
  background-color: rgba(231, 197, 159, 0.8);
  position: relative;
}

.p-menu-type__picture {
  width: 100%;
  margin-bottom: 3px;
}

.p-menu-type__head {
  font-size: 2rem;
  font-weight: 800;
  line-height: calc(30 / 20);
  margin-bottom: 6px;
  letter-spacing: 0.03em;
  color: #5B2E35;
}

.p-menu-type__text {
  font-size: 1.4rem;
  line-height: calc(21 / 14);
  letter-spacing: 0.03em;
  color: #5B2E35;
}

.p-menu-type__accent {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: -21px;
  right: 0;
}

