@use "foundation" as f;

.p-reservation-form {
  padding: 100px 20px;
  text-align: center;

  @include f.mq(md) {
    padding: 50px 47px 40px;
  }
}

.p-reservation-form__box {
  text-align: center;
  margin-bottom: 98px;
  position: relative;

  @include f.mq(md) {
    margin-bottom: 10px;
  }
}

.p-reservation-form__title {
  display: inline-block;

  @include f.mq(md) {
    display: block;
  }
}

.p-reservation-main__comment {
  font-size: 1.3rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 230px;


  @include f.mq(md) {
    position: static;
    text-align: right;
  }
}

.p-reservation-form__menu {
}

.p-reservation-form__list {
  margin-left: 14%;
  text-align: left;

  @include f.mq(md) {
    margin-left: 0;
  }
}

.p-reservation-form__list-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @include f.mq(md) {
    display: block;
    margin-bottom: 10px;
  }

  &:last-child {
    align-items: flex-start;
    margin-bottom: 80px;

    @include f.mq(md) {
      margin-bottom: 30px;
    }

    & > .p-reservation-form__list-head {
      padding-top: 13px;

      @include f.mq(md) {
        padding-top: 0;
      }
    }
  }
}

.p-reservation-form__list-head {
  width: 244px;

  @include f.mq(md) {
    font-size: 1.1rem;
  }
}

.p-reservation-form__list-input {
  width: calc(100% - 244px);

  @include f.mq(md) {
    width: 100%;
  }

  input {
    width: 280px;
    height: 50px;
    border: 0.5px solid #31251c;
    font-size: 2rem;
    padding: 0px 10px;
    box-sizing: border-box;

    @include f.mq(md) {
      width: 100%;
    }
  }
}

.p-reservation-form__list-textarea {
  width: 56%;
  height: 250px;

  @include f.mq(md) {
    width: 100%;
    height: 185px;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0.5px solid #31251c;
    font-size: 2rem;
    padding: 10px;
    box-sizing: border-box;
  }
}

.p-reservation-form__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 800;
  color: f.$c-subtext;
  background-color: f.$c-base;
  padding: 17px 98px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.6;
  }
}

.p-reservation-form__end-message {
  font-size: 2.2rem;
  display: none;
}

.p-reservation-form__false-message {
  font-size: 2.2rem;
  color: red;
  display: none;
}