@use "foundation" as f;

.p-reservation-form {
  padding: 100px 20px;
  text-align: center;
}

.p-reservation-form__title {
  display: inline-block;
  margin-bottom: 98px;
  position: relative;
}

.p-reservation-main__comment {
  font-size: 1.3rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: -200px;
}

.p-reservation-form__menu {
}

.p-reservation-form__list {
  margin-left: 14%;
  text-align: left;
}

.p-reservation-form__list-wrap {
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  &:last-child {
    align-items: flex-start;

    & > .p-reservation-form__list-head {
      padding-top: 13px;
    }
  }
}

.p-reservation-form__list-head {
  width: 244px;
}

.p-reservation-form__list-input {
  input {
    width: 280px;
    height: 50px;
    border: 0.5px solid #31251c;
  }
}

.p-reservation-form__list-textarea {
  width: 56%;
  height: 250px;
  margin-bottom: 30px;

  textarea {
    width: 100%;
    height: 100%;
  }
}

.p-reservation-form__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 800;
  color: f.$c-subtext;
  background-color: f.$c-base;
  padding: 17px 98px;
}