@use "foundation" as f;

.p-top-infomation {
  padding: 100px 40px;

  @include f.mq(md) {
    padding: 62px 0 0;
  }
}


.p-top-infomation__wrapper {
  width: 761px;
  height: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: f.$c-bg;
  margin: 0 auto;

  @include f.mq(md) {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
  }
}

.p-top-infomation__picture {
  width: 343px;
  height: 230px;
  margin-right: 73px;
  margin-left: -135px;

  @include f.mq(md) {
    margin: 0 auto;
    width: 66.666%;
    height: auto;
  }

  img {
    margin-top: -42px;
  }
}

.p-top-infomaition__box {
  position: relative;
}

.p-top-infomation__title {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 20px;
  letter-spacing: 0.02em;

  @include f.mq(md) {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    margin-bottom: 10px;
    text-align: center;
  }
}


// 日付BOX PC ------------------------------------
.p-top-infomation__date-pc {
  width: 130px;
  height: 120px;
  background-color: f.$c-base;
  position: absolute;
  top: -76px;
  right: -130px;
  padding: 15px 8px 17px;
}

.p-top-infomation__date-pc-start {
  color: f.$c-subtext;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.035em;
  margin-bottom: 40px;
  padding-right: 39px;
  display: inline-block;
  position: relative;
  line-height: 23px;
  
  span {
    font-size: 1rem;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: f.$c-subtext;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.p-top-infomation__date-pc-end {
  color: f.$c-subtext;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 0.035em;
  text-align: right;
  line-height: 23px;
  position: relative;

  span {
    font-size: 1rem;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: f.$c-subtext;
    position: absolute;
    top: 42%;
    left: 0;
  }

}

.p-top-infomation__date-pc-line {
  width: 125px;
  height: 1px;
  background-color: f.$c-subtext;
  transform: rotate(148deg);
  position: absolute;
  top: 61px;
  left: 0;
}

// 日付BOX SP ----------------------------------
.p-top-infomation__date-sp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: f.$c-base;
  min-width: 244px;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.p-top-infomation__date-sp-start {
  font-size: 2.4rem;
  font-weight: 800;
  color: f.$c-subtext;
  letter-spacing: 0.035em;
  margin-right: 15px;

  span {
    font-size: 1rem;
  }
}

.p-top-infomation__date-sp-arrow {
  border-top: 1px solid #FEFDF9;
  border-right: 1px solid #FEFDF9;
  transform: rotate(45deg);
  width: 9px;
  height: 9px;

  &:nth-of-type(1) {
    margin-right: -6px;
  }

  // &:nth-of-type(2) {
  //   margin-left: 4px;
  // }

  
}

.p-top-infomation__date-sp-end {
  font-size: 2.4rem;
  font-weight: 800;
  color: f.$c-subtext;
  letter-spacing: 0.035em;
  margin-left: 15px;

  span {
    font-size: 1rem;
  }
}


.p-top-infomation__text {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.4;
  padding-left: 27px;
  position: relative;

  @include f.mq(md) {
    width: 52%;
    margin: 0 auto;
  }
  
  @include f.mq(sm) {
    width: 80%;
    font-size: 1.1rem; 
    margin-left: 20.533%;
  }

  span {
    font-size: 2.2rem;

    @include f.mq(sm) {
      font-size: 1.8rem;
    }
  }

  &:first-of-type {
    margin-bottom: 20px;
    line-height: 0.8;
  }

  &::before {
    content: "";
    display: inline-block;
    background: url(../img/top_news_icon.svg) no-repeat top left / contain;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 0;

    @include f.mq(sm) {
      width: 12px;
      height: 12px;
    }

  }


}

.p-top-infomation__comment {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 15px;
  padding-left: 27px;

  @include f.mq(md) {
    text-align: center;
    margin-top: 8px;
  }
  
  @include f.mq(sm) {
    font-size: 1rem;
    margin-left: -5%;
  }
}
