/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	background: transparent;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	box-sizing: border-box;
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

ul,
ol {
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	color: #31251C;
	font-family: "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

mark {
	font-style: normal !important;
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	opacity: 0.6;
}

.inner {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1020px;
}

.l-firstview {
	background-image: url(../img/top_firstview.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 100%;
}

.l-firstview__title {
	color: #FEFDF9;
	font-family: "Times New Roman", serif;
	font-size: 3.6rem;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 700px;
	text-align: center;
}

.l-footer {
	background-color: #E7C59F;
	padding: 62px 20px 52px;
	width: 100%;
}

.l-footer__wrapper {
	align-items: center;
	display: flex;
	height: 57px;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.l-footer__nav {
	margin-right: 60px;
}

.l-footer__menu {
	display: flex;
}

.l-footer__list:not(:last-child) {
	margin-right: 70px;
}

.l-footer__link {
	font-family: "Times New Roman", serif;
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 0.02em;
	position: relative;
	text-align: center;
}

.l-footer__reservation {
	background-color: #755339;
	text-align: center;
	width: 281px;
}

.l-footer__reservation-link {
	color: #FEFDF9;
	display: block;
	font-family: "Times New Roman", serif;
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.1666666667;
	padding: 10px 49px 24px;
	position: relative;
	text-align: center;
}

.l-footer__reservation-ja {
	font-family: "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
	font-size: 1.3rem;
	font-weight: 800;
	left: 50%;
	position: absolute;
	top: 28px;
	transform: translateX(-50%);
}

.l-footer__sns {
	margin-bottom: 43px;
}

.l-footer__sns-box {
	align-items: center;
	display: flex;
	justify-content: center;
}

.l-footer__sns-item:first-child {
	margin-right: 30px;
}

.l-footer__copyright {
	display: block;
	font-family: "Times New Roman", serif;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.l-header {
	background-color: #E7C59F;
	height: 90px;
	padding: 0 20px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 500;
}

.l-header__container {
	height: 90px;
}

.l-header__wrapper {
	align-items: center;
	display: flex;
	height: 90px;
	justify-content: flex-end;
}

.l-header__nav {
	margin-right: 47px;
}

.l-header__menu {
	display: flex;
	transform: translateY(-9px);
}

.l-header__list:not(:last-child) {
	margin-right: 75px;
}

.l-header__link {
	font-family: "Times New Roman", serif;
	font-weight: 700;
	letter-spacing: 0.02em;
	position: relative;
	text-align: center;
}

.l-header__link-ja {
	bottom: -20px;
	color: #FEFDF9;
	font-family: "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
	font-size: 1.4rem;
	font-weight: 800;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	white-space: nowrap;
}

.l-header__reservation {
	background-color: #755339;
	text-align: center;
}

.l-header__reservation-link {
	color: #FEFDF9;
	display: block;
	font-family: "Times New Roman", serif;
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 0.02em;
	padding: 10px 49px 24px;
	position: relative;
	text-align: center;
}

.l-header__reservation-ja {
	font-family: "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
	font-size: 1.4rem;
	font-weight: 800;
	left: 50%;
	position: absolute;
	top: 28px;
	transform: translateX(-50%);
}

.l-header__title {
	color: #FEFDF9;
	font-family: "Times New Roman", serif;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 45px;
	text-align: center;
}

.l-header__tel {
	height: 15px;
	position: fixed;
	right: 70px;
	top: 12px;
	width: 15px;
}

.l-header__mail {
	height: 15px;
	position: fixed;
	right: 25px;
	top: 12px;
	width: 15px;
}

.l-header__drawer-icon {
	cursor: pointer;
	height: 14px;
	left: 20px;
	position: fixed;
	top: 16px;
	transition: 0.5s;
	width: 20px;
}

.l-header__drawer-icon:hover {
	opacity: 0.6;
	transition: 0.5s;
}

.l-header__drawer-icon-part {
	background-color: #31251C;
	border-radius: 10px;
	height: 2px;
	position: absolute;
	width: 20px;
}

.l-header__drawer-icon-part:nth-child(2) {
	top: 6px;
}

.l-header__drawer-icon-part:nth-child(3) {
	top: 12px;
}

.p-top-infomation {
	padding: 100px 40px;
}

.p-top-infomation__wrapper {
	align-items: center;
	background-color: #E7C59F;
	display: flex;
	height: 286px;
	justify-content: center;
	margin: 0 auto;
	width: 761px;
}

.p-top-infomation__picture {
	height: 230px;
	margin-left: -135px;
	margin-right: 73px;
	width: 343px;
}

.p-top-infomaition__box {
	position: relative;
}

.p-top-infomation__title {
	font-size: 3.2rem;
	font-weight: 800;
	letter-spacing: 0.02em;
	line-height: 48px;
	margin-bottom: 20px;
}

.p-top-infomation__date-pc {
	background-color: #755339;
	height: 120px;
	padding: 15px 8px 17px;
	position: absolute;
	right: -130px;
	top: -76px;
	width: 130px;
}

.p-top-infomation__date-pc-start {
	color: #FEFDF9;
	display: inline-block;
	font-size: 2.4rem;
	font-weight: 800;
	letter-spacing: 0.035em;
	line-height: 23px;
	margin-bottom: 40px;
	padding-right: 39px;
	position: relative;
}

.p-top-infomation__date-pc-start span {
	font-size: 1rem;
}

.p-top-infomation__date-pc-start::after {
	background-color: #FEFDF9;
	content: "";
	display: inline-block;
	height: 1px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

.p-top-infomation__date-pc-end {
	color: #FEFDF9;
	font-size: 2.4rem;
	font-weight: 800;
	letter-spacing: 0.035em;
	line-height: 23px;
	position: relative;
	text-align: right;
}

.p-top-infomation__date-pc-end span {
	font-size: 1rem;
}

.p-top-infomation__date-pc-end::before {
	background-color: #FEFDF9;
	content: "";
	display: inline-block;
	height: 1px;
	left: 0;
	position: absolute;
	top: 42%;
	width: 20px;
}

.p-top-infomation__date-pc-line {
	background-color: #FEFDF9;
	height: 1px;
	left: 0;
	position: absolute;
	top: 61px;
	transform: rotate(148deg);
	width: 125px;
}

.p-top-infomation__text {
	font-size: 1.4rem;
	font-weight: 800;
	line-height: 1.4;
	padding-left: 27px;
	position: relative;
}

.p-top-infomation__text span {
	font-size: 2.2rem;
}

.p-top-infomation__text:first-of-type {
	line-height: 0.8;
	margin-bottom: 20px;
}

.p-top-infomation__text::before {
	background: url(../img/top_news_icon.svg) no-repeat top left/contain;
	content: "";
	display: inline-block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 4px;
	width: 16px;
}

.p-top-infomation__comment {
	font-size: 1.2rem;
	font-weight: 800;
	margin-top: 15px;
	padding-left: 27px;
}

.p-top-menu {
	background: url(../img/top_bg.jpg) no-repeat center center/cover;
	padding: 59px 20px 80px;
}

.p-top-menu__title {
	font-family: "Times New Roman", serif;
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.15625;
	margin-bottom: 145px;
	text-align: center;
}

.p-top-menu__triming {
	display: flex;
	justify-content: center;
}

.p-top-menu__triming-picture {
	margin-right: -102px;
	margin-top: -55px;
	position: relative;
	z-index: 20;
}

.p-top-menu__triming-picture img {
	width: 513px;
}

.p-top-menu__triming-box {
	background-color: #fff;
	margin-bottom: 128px;
	max-width: 615px;
	padding: 79px 0 90px 15.882%;
	position: relative;
	width: 60.294%;
	z-index: 10;
}

.p-top-menu__triming-box::before {
	color: rgba(195, 119, 30, 0.15);
	content: "Triming";
	display: inline-block;
	font-family: "Times New Roman", serif;
	font-size: 9.6rem;
	font-weight: 700;
	line-height: 1.1458333333;
	position: absolute;
	right: 0;
	top: -70px;
}

.p-top-menu__box-title {
	font-size: 2.2rem;
	font-weight: 800;
	letter-spacing: 0.02em;
	line-height: 1.5;
	margin-bottom: 28px;
}

.p-top-menu__box-text {
	letter-spacing: 0.03em;
	line-height: 2.25;
	margin-bottom: 50px;
	width: 90.286%;
}

.p-top-menu__button {
	background-color: #755339;
	display: inline-block;
}

.p-top-menu__link {
	color: #FEFDF9;
	display: inline-block;
	font-family: "Times New Roman", serif;
	font-weight: 700;
	line-height: 1.125;
	padding: 14px 104px 14px 93px;
}

.p-top-menu__hotel {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.p-top-menu__hotel-picture {
	margin-left: -102px;
	margin-top: -48px;
	position: relative;
	z-index: 20;
}

.p-top-menu__hotel-picture img {
	width: 513px;
}

.p-top-menu__hotel-box {
	background-color: #fff;
	max-width: 615px;
	padding: 81px 11.5% 103px 65px;
	position: relative;
	width: 60.294%;
	z-index: 10;
}

.p-top-menu__hotel-box::before {
	color: rgba(195, 119, 30, 0.15);
	content: "Pet Hotel";
	display: inline-block;
	font-family: "Times New Roman", serif;
	font-size: 9.6rem;
	font-weight: 700;
	left: 0;
	line-height: 1.1458333333;
	position: absolute;
	top: -70px;
}

.p-top-news {
	padding: 0 20px 88px;
}

.p-top-news__title {
	font-family: "Times New Roman", serif;
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.15625;
	margin-bottom: 80px;
	text-align: center;
}

.p-top-news__box {
	margin: 0 auto 60px;
	max-width: 600px;
	width: 100%;
}

.p-top-news__wrap {
	align-items: center;
	border-bottom: 1px solid #31251C;
	display: flex;
	padding: 20px 0;
}

.p-top-news__wrap:first-child > .p-top-news__date::before {
	content: "NewÔºÅ";
	display: inline-block;
	left: 45px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.p-top-news__date {
	letter-spacing: 0.03em;
	line-height: 2.25;
	padding-left: 140px;
	position: relative;
	width: 300px;
}

.p-top-news__head {
	letter-spacing: 0.03em;
	line-height: 2.25;
	width: calc(100% - 300px);
}

.p-top-news__button {
	text-align: center;
}

.p-top-news__link {
	font-family: "Times New Roman", serif;
	font-weight: 400;
	letter-spacing: 0.03em;
	line-height: 2.25;
	padding: 10px 27px;
	position: relative;
}

.p-top-news__link::before {
	background-color: #755339;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 80%;
	transform: translateX(-50%);
	width: 80px;
}

.p-top-news__link::after {
	background-color: #755339;
	bottom: 11px;
	content: "";
	display: inline-block;
	height: 1px;
	left: 82%;
	position: absolute;
	transform: rotate(-135deg);
	width: 14px;
}

.p-top-staff {
	padding: 100px 20px 100px;
}

.p-top-staff__title {
	font-family: "Times New Roman", serif;
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.15625;
	margin-bottom: 70px;
	text-align: center;
}

.p-top-staff__wrapper {
	display: flex;
	justify-content: space-between;
}

.p-top-staff__picture img {
	margin-bottom: 36px;
	max-width: 250px;
}

.p-top-staff__name {
	font-size: 1.8rem;
	font-weight: 800;
	line-height: 1.5;
	text-align: center;
}

@media screen and (min-width: 835px) {

.u-hidden--mdup {
	display: none;
}

}

@media screen and (min-width: 1021px) {

.u-hidden--pc {
	display: none;
}

}

@media screen and (max-width: 834px) {

.l-header {
	height: 45px;
	position: fixed;
}

.u-hidden--md {
	display: none;
}

}

