@use "foundation" as f;

.l-footer {
  width: 100%;
  background-color: f.$c-bg;
  padding: 62px 20px 52px;

  @include f.mq(md) {
    padding: 40px 40px 45px 40px;
  }
}

.l-footer__container {

}

.l-footer__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 57px;
  margin-bottom: 20px;

  @include f.mq(md) {
    flex-direction: column-reverse;
    margin-bottom: 180px;
  }
}

.l-footer__nav {
  margin-right: 60px;

  @include f.mq(md) {
    max-width: 202px;
    width: 100%;
    margin: 0 auto;
  }
}

.l-footer__menu {

  @include f.mq(md) {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

}

.l-footer__list {
  &:not(:last-child) {
    margin-right: 70px;
  }

  @include f.mq(md) {
    margin-bottom: 40px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 58px;
    }

    &:nth-child(3) {
      margin-right: 0;
    }
  }
  


}

.l-footer__link {
  text-align: center;
  position: relative;
  letter-spacing: 0.02em;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: f.$ff-en;

  @include f.mq(md) {
    font-size: 1.2rem;
  }

}

.l-footer__reservation {
  background-color: f.$c-base;
  text-align: center;
  width: 281px;

  @include f.mq(md) {
    margin-bottom: 40px;

  }
}

.l-footer__reservation-link {
  display: block;
  padding: 10px 49px 24px;
  line-height: calc(21 / 18);
  color: f.$c-subtext;
  font-family: f.$ff-en;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  position: relative;

  @include f.mq(md) {
    font-size: 1.4rem;   
  }
}

.l-footer__reservation-ja {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: f.$ff-base;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);

  @include f.mq(md) {
    font-size: 1.2rem;
  }

}

.l-footer__sns {
  margin-bottom: 43px;
}

.l-footer__sns-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-footer__sns-item {
  &:first-child {
    margin-right: 30px;

    @include f.mq(md) {
      margin-right: 80px;  
    }
  }

  @include f.mq(md) {
    width: 30px;
    height: 30px;
  }


}

.l-footer__sns-link {

}

.l-footer__copyright {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-family: f.$ff-en;
}