@use "foundation" as f;

.l-header {
  height: 90px;
  width: 100%;
  background-color: f.$c-bg;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 500;

  @include f.mq(md) {
    height: 45px;
    position: fixed;

  }
}

.l-header__container {
  height: 90px;
}

.l-header__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
}

.l-header__nav {
  margin-right: 47px;
}

.l-header__menu {
  display: flex;
  transform: translateY(-9px);
  

}

.l-header__list {
  &:not(:last-child) {
    margin-right: 75px;
  }
}

.l-header__link {
  text-align: center;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: f.$ff-en;

}

.l-header__link-ja {
  color: f.$c-subtext;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-family: f.$ff-base;
  font-weight: 800;
  font-size: 1.4rem;
}

.l-header__reservation {
  background-color: f.$c-base;
  text-align: center;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

.l-header__reservation-link {
  display: block;
  padding: 10px 49px 24px;
  color: f.$c-subtext;
  font-family: f.$ff-en;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  position: relative;
}

.l-header__reservation-ja {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: f.$ff-base;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.l-header-wrapper-sp {
}

.l-header__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: f.$c-subtext;
  line-height: 45px;
  font-family: f.$ff-en;
}

.l-header__tel {
  width: 15px;
  height: 15px;
  position: fixed;
  top: 12px;
  right: 70px;
}

.l-header__mail {
  width: 15px;
  height: 15px;
  position: fixed;
  top: 12px;
  right: 25px;
}
